#homepage{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/nk23-a5689.appspot.com/o/Main.png?alt=media&token=dbb94f93-83ed-46fb-83eb-fd1ad698eed7);
    background-size:100%;
    height: 50em;
    position: relative;
}